/* Place Your Custom Styles Here */
.aboutMeContent {
    padding-left: 5%;
}

.blueContent {
    color:#027bff;
    font-weight: bold;
}

.date {
    font-weight: normal;
    color: black;
    float: right;
}

.invisibility {
    display: none;
}

.project-item {
    display: none;
}

.project-filter {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: 2rem;
}

p> a:hover {
    color:#75E6DA;
}